.signinform-container {
  width: 500px;
  .intro {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 2rem 0;
  }
  .error-message {
    color: tomato;
    height: 1.6rem;
  }
  .input-wrapper {
    margin-bottom: 2rem;
    .label {
      padding-bottom: 1rem;
    }
  }
  .button-wrapper {
    margin-bottom: 1rem;
    text-align: center;
    .error-message {
      padding: 1rem;
    }
  }
}
