.page-title {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 5rem;
  .section-title {
    margin-bottom: 2rem;
  }
}

.add-option {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0.25rem;
  color: #1f39ff;
  &:hover {
    cursor: pointer;
  }
  span {
    padding-bottom: 0.1rem;
  }
}

.option-wrapper {
  margin-bottom: 3rem;
}
