.section-subtitle {
  margin-bottom: 1rem;
}

.option-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  .delete {
    &:hover {
      cursor: pointer;
    }
  }
}

.add-option {
  display: flex;
  align-items: flex-end;
  &:hover {
    cursor: pointer;
  }
  span {
    padding-bottom: 0.1rem;
  }
}
